<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      eZdue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let card of getCards()">
        <ion-item>
          <b>{{ card.title }}</b>
          <ion-button fill="outline" slot="end" (click)="editCard(card)">
              <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button fill="outline" color="danger" slot="end" (click)="removeCard(card)">
              <ion-icon name="remove"></ion-icon>
          </ion-button>
        </ion-item>
      
        <ion-card-content>
          <ion-label>{{ card.date | date : 'EEEE, MMM d, y, h:mm a' : '' : this.language}}</ion-label>
        </ion-card-content>
      </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logProductivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
