<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      ezDue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let card of getCards()">
        <ion-card-content>
          <h2>{{ card.title }}</h2>
          <h3>{{ card.date | date : 'MMM d, y, h:mm a'}}</h3>
          
          <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-fab-button size="small" color="danger" (click)="removeCard(card)">
                <ion-icon name="remove"></ion-icon>
              </ion-fab-button>
            </ion-fab>
  
        </ion-card-content>
      </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logProductivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
