<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      eZdue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let card of getCards()" (swiperight)="removeCard(card)">
        <ion-card-content>
          <div>
              <ion-button [hidden]="delBool" class="ion-float-right" color="danger" (click)="removeCard(card)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-button class="ion-float-right" (click)="editCard(card)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <h2>{{ card.title }}</h2>
          </div>
          <h3>{{ card.date | date : 'EEEE, MMM d, y, h:mm a' : '' : this.language}}</h3>

         
  
        </ion-card-content>
      </ion-card>
     
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logProductivity()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
