<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center">
      eZdue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-content>
      <ion-card-title>
          <span translate>Balance</span>
          <span>: ${{this.balance}}</span>
      </ion-card-title>
      <ion-fab [hidden]="balBool" vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="openBalance()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
</ion-card>

<ion-card *ngFor="let card of getCards()">
  <ion-item>
    <b>{{ card.itemName }}</b>
    <ion-button fill="outline" slot="end" (click)="editCard(card)">
        <ion-icon name="create"></ion-icon>
    </ion-button>
    <ion-button fill="outline" color="danger" slot="end" (click)="removeCard(card)">
        <ion-icon name="remove"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-card-content>
    <ion-label translate>Date</ion-label>
    <ion-label>: {{ card.datePicked | date : 'EEEE, MMM d, y' : '' : this.language}}</ion-label>
    <ion-label [hidden]="hideDate2(card)" translate><br>Date2</ion-label>
    <ion-label [hidden]="hideDate2(card)">: {{ card.datePicked2 | date : 'EEEE, MMM d, y' : '' : this.language}}</ion-label>
    <b [hidden]="hideAmount(card)"><br>${{ card.cashAmount }}</b>
  </ion-card-content>
</ion-card>

    
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="logFinance()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
