<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      ezDue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
    <ion-card-content>
      <h1>Balance: ${{ this.balance }}</h1>
    </ion-card-content>
</ion-card>

<ion-content>

  <ion-card *ngFor="let card of getCards()">
      <ion-card-content>
        <h2>{{ card.itemName }}</h2>
        <h3>{{ card.datePicked | date}}</h3>
        <h3 [hidden]="hideAmount(card)">${{ card.cashAmount }}</h3>
        
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button size="small" color="danger" (click)="removeCard(card)">
              <ion-icon name="remove"></ion-icon>
            </ion-fab-button>
          </ion-fab>

      </ion-card-content>
    </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="logFinance()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
