<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      eZdue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
    <ion-card-content>
      <h1>
          <span translate>Balance</span>
          <span>: ${{this.balance}}</span>
      </h1>
      <ion-fab [hidden]="balBool" vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="openBalance()">
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-card-content>
</ion-card>

<ion-content>
    <ion-card *ngFor="let card of getCards()" (swiperight)="removeCard(card)">
      <ion-card-content>
        <div>
          <ion-button [hidden]="delBool" float-right color="danger" (click)="removeCard(card)">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-button float-right (click)="editCard(card)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          <h2>{{ card.itemName }}</h2>
        </div>
        <h3>{{ card.datePicked | date : 'EEEE, MMM d, y' : '' : this.language}}</h3>
        <h3 [hidden]="hideAmount(card)">${{ card.cashAmount }}</h3>
      </ion-card-content>
    </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="logFinance()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
