<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      eZdue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
      <ion-label>Input Recurring Payments</ion-label>
      <ion-toggle [(ngModel)]="recurringPayments" (ionChange)="switchRecur()"></ion-toggle>
  </ion-item>

  <ion-item>
      <ion-label>Subtract Payments from Balance when Done</ion-label>
      <ion-toggle [(ngModel)]="subPayBal" (ionChange)="switchSub()"></ion-toggle>
  </ion-item>

  <ion-item>
      <ion-label>Show Delete Button in Cards</ion-label>
      <ion-toggle [(ngModel)]="deleteButton" (ionChange)="switchDel()"></ion-toggle>
  </ion-item>

</ion-content>
