<ion-header>
  <ion-toolbar>
      <ion-title class="ion-text-center" translate>BalHistory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment [(ngModel)]="balanceOrder">
        <ion-segment-button value="chronological">
          <ion-label translate>Chronological</ion-label>
        </ion-segment-button>
        <ion-segment-button value="accounting">
          <ion-label translate>Accounting</ion-label>
        </ion-segment-button>
      </ion-segment>

    <ion-card *ngFor="let card of getCards()" (swiperight)="removeCard(card)">
        <ion-card-content>
          <div>
            <ion-button [hidden]="delBool" class="ion-float-right" color="danger" (click)="removeCard(card)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-button class="ion-float-right" (click)="editCard(card)">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <h2>
                  <span translate>{{ card.type.toUpperCase() | translate:card}}</span>
                  <span>: {{ card.itemName }}</span>
              </h2>
          </div>
         
          <h3>{{ card.datePicked | date : 'EEEE, MMM d, y' : '' : this.language}}</h3>
          <h3>${{ card.cashAmount }}</h3>
            
         
  
        </ion-card-content>
      </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="start" (click)="dismiss()" slot="fixed">
  <ion-fab-button>
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>
