<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" translate>NewFinLog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
    <ion-item>
      <ion-label translate>Type</ion-label>
      <ion-select [(ngModel)]="type" (ionChange)="onChange(type)" placeholder="{{ 'SelectOne' | translate }}" interface="popover">
        <ion-select-option value="income" translate>INCOME</ion-select-option>
        <ion-select-option value="expense" translate>EXPENSE</ion-select-option>
        <ion-select-option value="payment" translate>PAYMENT</ion-select-option>
        <ion-select-option disabled>────────────────────</ion-select-option>
        <ion-select-option value="card" translate>CARD/ID EXPIRATION</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item [hidden]="hideName">
        <ion-label translate>Name</ion-label>
        <ion-input [(ngModel)]="itemName"  placeholder="{{ 'InputName' | translate }}"></ion-input>
    </ion-item>

    <ion-item [hidden]="hideAmount">
        <ion-label translate>Amount</ion-label>
        <ion-input [(ngModel)]="cashAmount" placeholder="500"></ion-input>
    </ion-item>

    <ion-item [hidden]="hideDate">
        <ion-label translate>Date</ion-label>
        <ion-datetime [(ngModel)]="datePicked" display-format="MMM DD, YYYY" placeholder="{{ 'SelectDate' | translate }}" max="{{ this.getMaxYear() }}"></ion-datetime>
    </ion-item>

    <ion-item [hidden]="hideRecur">
        <ion-label translate>#Months</ion-label>
        <ion-input [(ngModel)]="recurMonths" placeholder="3"></ion-input>
    </ion-item>

    <ion-item href="https://www.xe.com/currencyconverter/" target="_blank" [hidden]="hideCurr">
        <ion-label translate>CurrencyConvert</ion-label>
    </ion-item>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" (click)="save()" slot="fixed">
    <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" (click)="dismiss()" slot="fixed">
      <ion-fab-button>
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
